<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="activities$ | async as activities">
  <ion-card button *ngFor="let activity of activities" [routerLink]="['activity-detail', activity.id]">
    <ion-img [src] = "activity.cropped"></ion-img>
    <ion-card-header>
      <ion-card-title>{{activity.name}}</ion-card-title>
      <ion-card-subtitle>Created by: {{activity.created_by}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{activity.description}}
    </ion-card-content>
  </ion-card>
  </div>
</ion-content>
